<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accounts</title>
</head>
<body>
<h2>[[${account.accountName}]]</h2>
<form th:action="@{/users/{user_id}/accounts/{account_id}(user_id=${user.user_id}, account_id=${account.account_id})}"
      method="post">
    <input type="hidden" th:field="${account.account_id}"/>
    <input type="hidden" th:field="${user.user_id}"/>
    Account Name: <input type="text" th:field="${account.accountName}"/>
    <div>
        <button type="submit" style="color:blue">Save Account</button>
    </div>
    <a th:href="@{/users/{user_id}(user_id=${user.user_id})}" style="margin-right:2em">Back</a>
    <!--    <a href="javascript:history.back()" class="back-button">Back</a>-->
</form>


</body>
</html>