<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="./general.css" type="text/css">
</head>
<body>
<h1>Users</h1>
<div th:if="${#lists.size(users)==1}">
    <form th:action="@{/users/{user_id}(user_id=${user.user_id})}" method="post">
        <div>
            <input type="hidden" th:field="${user.user_id}">
        </div>
        <div>
            Username: <input type="text" th:field="${user.username}">
        </div>
        <div>
            Password: <input type="text" th:field="${user.password}"  > <!--Change this from type=password to type=text to avoid erasing the password when updating user-->
        </div>
        <div>
            Full Name: <input type="text" th:field="${user.fullName}">
        </div>
        <hr/>
        <div>
            <input type="hidden" th:field="${user.address.user_id}">
            <input type="hidden" th:field="${user.address.user}">
        </div>
        <div>
            Address Line 1: <input type="text" th:field="${user.address.addressLine1}">
        </div>
        <div>
            Address Line 2: <input type="text" th:field="${user.address.addressLine2}">
        </div>
        <div>
            City: <input type="text" th:field="${user.address.city}">
        </div>
        <div>
            Region: <input type="text" th:field="${user.address.region}">
        </div>
        <div>
            Country: <input type="text" th:field="${user.address.country}">
        </div>
        <div>
            Zip Code: <input type="text" th:field="${user.address.zipCode}">  <!--th:field="${address.zipCode}"-->
        </div>
        <div>
            <button type="submit" style="color:blue">Update User Account</button>
        </div>
    </form>

    <form th:action="@{/users/{user_id}/delete(user_id=${user.user_id})}" method="post">
        <div>
            <button type="submit" style="color:blue">Delete User Account</button>
        </div>
    </form>
    <hr/>
    <div>
        <div th:if="${#lists.size(user.getAccounts)==0}">
            <h2>No Bank Account is being created yet</h2>
        </div>
        <div th:if="${#lists.size(user.getAccounts)>0}">
            <h2>Accounts</h2>
            <div th:each="account: ${user.getAccounts}">
                <a th:href="@{/users/{user_id}/accounts/{account_id}(user_id=${user.user_id},account_id=${account.account_id})}"
                   th:text="${account.accountName}"></a>
            </div>
        </div>
        <br>
        <form th:action="@{/users/{user_id}/accounts(user_id=${user.user_id})}" method="post">

                <button type="submit" style="color:blue">Create New Bank Account</button>
        </form>
    </div>
    <br>
    <a href="/users" style="margin-right:2em">Back</a>
</div>


<div th:if="${#lists.size(users)>1}">
    <div th:each="user:${users}"><!-- <div th:unless="${#lists.size(users)==1}" th:each="user:${users}">-->

        <span><a style="color: blue" th:href="@{/users/{userId}(userId=${user.user_id})}">[[${user.user_id}]]</a></span><br/>
        <span th:text="${user.username}"></span><br/>
        <span th:text="${user.fullName}"></span><br/>
        <span th:password=" ${user.password}"></span>

        <div th:each="account: ${user.accounts}">
            <a th:href="@{/users/{user_id}/accounts/{account_id}(user_id=${user.user_id},account_id=${account.account_id})}"><span>[[${account.accountName}]]</span></a>
        </div>
        <hr/>
    </div>

    <br>

</div>
<a href="/register" style="margin-right:2em">Go to Register</a>

</body>
</html>